* {
    margin: 0;
    padding: 0;
}

.primary {
    background-color: blue;
    color: white;
    border: none;
}

.secondary {
    background-color: white;
    color: blue;
    border: 1px solid blue;
}

.loginbox {
    width: fit-content;
    border: 1px solid grey;
    padding: 3rem 2rem 1rem;
    margin: 10rem auto;
    border-radius: 1rem;
}

.inputs {
    padding: 1rem;
    margin: 1rem 1rem 0;
    display: flex;
    flex-flow: column;
}

.input {
    padding-bottom: 0.3rem;
    margin-bottom: 1.2rem;
    border: none;
    border-bottom: 1px solid grey;
    width: 15rem;
}

.input:focus {
    outline: none;
    border-bottom: 1.5px solid blue;
    transition: all 0.3s ease-in-out;
}

.buttons {
    padding: 1rem;
    margin: 0 1rem;
}

.btn {
    padding: 0.6rem 1.2rem;
    margin: 0;
    margin-right: 1rem;
    outline: none;
}